doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Twitter
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        include navbar
