nav.navbar.navbar-expand-md.navbar-light.bg-dark
    a.navbar-brand(href='#')
        img
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-autoc
            li.nav-item.active
                a.nav-link.text-primary(href='#') Home
                span.sr-only.text-light (current)
            li.nav-item
                a.nav-link.text-light(href='#') Profile
            li.nav-item
                a.nav-link.text-light(href='#') Messages
